.app {
  align-items: center;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container {
  position: relative;
  width: 200px;
  height: 200px;
}
